<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.match.mapper.BettingPlayPOMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.panda.sport.merchant.common.po.bss.BettingPlayPO">
        <id column="id" property="id"/>
        <result column="fields_num" property="fieldsNum"/>
        <result column="multi_market" property="multiMarket"/>
        <result column="template_pc" property="templatePc"/>
        <result column="template_h5" property="templateH5"/>
        <result column="support_odds" property="supportOdds"/>
        <result column="order_no" property="orderNo"/>
        <result column="status" property="status"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="play_id" property="playId"/>
        <result column="play_name_code" property="playNameCode"/>
        <result column="sport_id" property="sportId"/>
        <result column="is_collapse" property="isCollapse"/>
        <result column="sport_modify_time" property="sportModifyTime"/>
        <result column="sport_order_no" property="sportOrderNo"/>
        <result column="scope_id" property="scopeId"/>
        <result column="sport_status" property="sportStatus"/>
        <result column="sport_name_code" property="sportNameCode"/>
        <result column="desc_name_code" property="descNameCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="template_self_h5" property="templateSelfH5"/>
        <result column="template_self_pc" property="templateSelfPc"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        fields_num,
        multi_market,
        template_pc,
        template_h5,
        support_odds,
        order_no,
        status,
        modify_time,
        play_id,
        play_name_code,
        sport_id,
        is_collapse,
        sport_modify_time,
        sport_order_no,
        scope_id,
        sport_status,
        sport_name_code,
        desc_name_code,
        create_time,
        update_time,
        template_self_h5,
        template_self_pc
    </sql>

    <select id="getListByIds" resultType="com.panda.sport.merchant.common.vo.BettingPlayVO">
        select sport_id, play_id, l.zs as play_name
        from s_betting_play b
                     left join s_language l on b.play_name_code = l.name_code
                where status = 1
                  and sport_id in
        <foreach collection="acIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        order by sport_id;
    </select>
</mapper>
