<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.match.mapper.TMatchNoticeMapper">

    <resultMap id="BaseResultMap" type="com.panda.sport.merchant.common.po.match.TMatchNotice">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="status" property="status"/>
        <result column="notice_type" property="noticeType"/>
        <result column="context" property="context"/>
        <result column="visit_number" property="visitNumber"/>
        <result column="send_time" property="sendTime"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="release_range" property="releaseRange"/>
        <result column="is_pop" property="isPop"/>
        <result column="upload" property="upload"/>
        <result column="is_tag" property="isTag"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="upload_name" property="uploadName"/>
    </resultMap>



</mapper>
