<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.center.mapper.activity.ActivityConfigMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.panda.center.entity.ActivityConfig">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="terminal" property="terminal"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="time_limit" property="timeLimit"/>
        <result column="sport_id" property="sportId"/>
        <result column="reward_type" property="rewardType"/>
        <result column="total_cost" property="totalCost"/>
        <result column="reward_percentage" property="rewardPercentage"/>
        <result column="single_day_max" property="singleDayMax"/>
        <result column="single_user_max" property="singleUserMax"/>
        <result column="user_partition_times" property="userPartitionTimes"/>
        <result column="auto_check" property="autoCheck"/>
        <result column="partition_rule" property="partitionRule"/>
        <result column="reward_rule" property="rewardRule"/>
        <result column="settle_cycle" property="settleCycle"/>
        <result column="status" property="status"/>
        <result column="in_start_time" property="inStartTime"/>
        <result column="in_end_time" property="inEndTime"/>
        <result column="pc_url" property="pcUrl"/>
        <result column="h5_url" property="h5Url"/>
        <result column="h5_maintain_url" property="h5MaintainUrl"/>
        <result column="pc_maintain_url" property="pcMaintainUrl"/>
        <result column="maintain_status" property="maintainStatus"/>
        <result column="maintain_end_time" property="maintainEndTime"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name,
        type,
        terminal,
        start_time,
        end_time,
        time_limit,
        sport_id,
        reward_type,
        total_cost,
        reward_percentage,
        single_day_max,
        single_user_max,
        user_partition_times,
        auto_check,
        partition_rule,
        reward_rule,
        settle_cycle,
        status,
        in_start_time,
        in_end_time,
        pc_url,
        h5_url,
        h5_maintain_url,
        pc_maintain_url,
        maintain_status,
        maintain_end_time,
        title,
        content
    </sql>
</mapper>
