<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.bss.mapper.AcTaskPOMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.panda.sport.merchant.common.po.bss.AcTaskPO">
        <id column="id" property="id"/>
        <result column="act_id" property="actId"/>
        <result column="act_name" property="actName"/>
        <result column="task_name" property="taskName"/>
        <result column="condition_id" property="conditionId"/>
        <result column="task_condition" property="taskCondition"/>
        <result column="task_condition2" property="taskCondition2"/>
        <result column="task_condition3" property="taskCondition3"/>
        <result column="forward_url" property="forwardUrl"/>
        <result column="type" property="type"/>
        <result column="ticket_num" property="ticketNum"/>
        <result column="status" property="status"/>
        <result column="invalidation" property="invalidation"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        act_id,
        act_name,
        task_name,
        condition_id,
        task_condition,
        task_condition2,
        task_condition3,
        forward_url,
        type,
        ticket_num,
        status,
        invalidation,
        create_time,
        update_time,
        remark,
        order_no
    </sql>

    <select id="getLuckyBoxDict" resultType="com.panda.sport.merchant.common.vo.activity.SOlympicLuckyboxDictVo">
        select
        `id`,
        case box_type when 1 THEN '白银盲盒' when 2 THEN '黄金盲盒' when 3 THEN '钻石盲盒' else '' end AS "box_type_name",
        `box_type`,
        `visit_number`,
        `award`,
        `must_hit_date`,
        `must_hit_rate`,
        `must_hit_number`,
        `is_allocate`,
        `is_up`,
        `name`,
        `user_limit`,
        `top10_user`,
        `create_time`,
        `modify_time`
        FROM s_olympic_luckybox_dict
        order by id ASC
    </select>

    <update id="boxUpdate" parameterType="com.panda.sport.merchant.common.po.bss.SOlympicLuckyboxDictPo">

        update s_olympic_luckybox_dict
        set
            must_hit_date=#{mustHitDate},
            must_hit_rate=#{mustHitRate},
            must_hit_number=#{mustHitNumber},
            is_allocate = #{isAllocate},
            visit_number = #{visitNumber},
            `name` = #{name},
            award = #{award},
            modify_time=#{modifyTime}
        where id=#{id}
    </update>

    <select id="findBox" resultType="com.panda.sport.merchant.common.po.bss.SOlympicLuckyboxDictPo">
        SELECT
            *
        FROM s_olympic_luckybox_dict
        WHERE id = #{id}
    </select>

    <select id="getDailyBox" resultType="com.panda.sport.merchant.common.po.bss.SDailyLuckyBoxNumberPO">
        select
            *
        FROM s_daily_lucky_box_number
        order by box_type ASC
    </select>


    <update id="dailyUpdate" parameterType="com.panda.sport.merchant.common.po.bss.SDailyLuckyBoxNumberPO">

        update s_daily_lucky_box_number
        set
            daily_number=#{dailyNumber},
            show_rate=#{showRate},
            show_number=#{showNumber},
			token = #{token},
            modify_time = #{modifyTime}
        where 	box_type=#{boxType}
    </update>

    <select id="getCurMaxNo" resultType="java.lang.Integer">
        select ifnull(max(order_no), 0) as orderNo
        from t_ac_task
        where act_id = #{actId};
    </select>
</mapper>
