<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.sport.bss.mapper.SlotsLotteryRecordsMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.panda.sport.merchant.common.po.bss.SlotsLotteryRecords">
        <id column="id" property="id"/>
        <result column="slots_name" property="slotsName"/>
        <result column="prop_type" property="propType"/>
        <result column="prop_times" property="propTimes"/>
        <result column="slots_id" property="slotsId"/>
        <result column="merchant_code" property="merchantCode"/>
        <result column="use_token" property="useToken"/>
        <result column="award" property="award"/>
        <result column="total_award" property="totalAward"/>
        <result column="uid" property="uid"/>
        <result column="user_name" property="userName"/>
        <result column="remark" property="remark"/>
        <result column="created_by" property="createdBy"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        slots_name,
        prop_type,
        prop_times,
        slots_id,
        merchant_code,
        use_token,
        award,
        total_award,
        uid,
        user_name,
        remark,
        created_by,
        create_time
    </sql>
</mapper>
