<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 全局系统配置表(t_system_config) -->
<mapper namespace="com.panda.sport.bss.mapper.TSystemConfigMapper">
    <resultMap id="resultMap" type="com.panda.sport.merchant.common.po.bss.TSystemConfig">
        <result column="id" property="id"/>
        <result column="config_key" property="configKey"/>
        <result column="config_value" property="configValue"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
                id,
                config_key,
                config_value,
                update_time
    </sql>
</mapper>
