<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.multiterminalinteractivecenter.mapper.ThirdDomainMapper">

    <resultMap id="BaseResultMap" type="com.panda.multiterminalinteractivecenter.entity.TyDomain">
        <result column="id" property="id"/>
        <result column="domain_type" property="domainType"/>
        <result column="domain_name" property="domainName"/>
        <result column="group_type" property="groupType"/>
        <result column="status" property="status"/>
        <result column="line_carrier_id" property="lineCarrierId"/>
        <result column="self_test_tag" property="selfTestTag"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="tab" property="tab"/>
    </resultMap>

    <sql id="Base_Column_List">
                td.id,
                td.domain_type domainType,
                td.domain_name domainName,
                td.group_type groupType,
                td.line_carrier_id lineCarrierId,
                td.status,
                td.enable,
                td.self_test_tag selfTestTag,
                td.create_time createTime,
                td.create_user createUser,
                td.update_time updateTime,
                td.update_user updateUser,
                td.tab tab
    </sql>

    <select id="pageList" resultType="com.panda.multiterminalinteractivecenter.entity.TyDomain">
        SELECT
            <include refid="Base_Column_List"/>
            ,tlc.line_carrier_name lineCarrierName
            ,GROUP_CONCAT(distinct tdg.id) domainGroupId
            ,GROUP_CONCAT(distinct tdg.domain_group_name) domainGroupName
            ,GROUP_CONCAT(distinct tdg.id,':',tdg.domain_group_name) domainGroupDetail
        FROM t_domain td
        LEFT JOIN t_line_carrier tlc ON td.line_carrier_id = tlc.id
        LEFT JOIN (SELECT * FROM t_domain_group_relation WHERE tab= #{tab}) tdgr ON td.id = tdgr.domain_id
        LEFT JOIN t_domain_group tdg ON tdgr.domain_group_id = tdg.id
        WHERE 1=1
        <if test="null != domainName and '' != domainName">
            AND td.domain_name LIKE CONCAT('%',#{domainName},'%')
        </if>
        <if test="null != domainType and '' != domainType and 0 != domainType">
            AND td.domain_type = #{domainType}
        </if>
        <if test="null != lineCarrierId and '' != lineCarrierId and 0 != lineCarrierId">
            AND td.line_carrier_id = #{lineCarrierId}
        </if>
        <if test="null != used and true == used">
            AND td.status = 1
            AND td.enable = 1
        </if>
        <if test="null != groupType and '' != groupType and 0 != groupType">
            AND td.group_type = #{groupType}
        </if>
        <if test="null != tab and '' != tab">
            AND td.tab = #{tab}
        </if>
        <if test="null != domainGroupId and '' != domainGroupId">
            AND tdg.id = #{domainGroupId}
        </if>
        GROUP BY td.id
        HAVING 1=1
        <if test="null != domainGroupId and '' != domainGroupId">
            AND domainGroupId = #{domainGroupId}
        </if>
        <if test="null != domainGroupName and '' != domainGroupName">
            AND domainGroupName like CONCAT('%',#{domainGroupName},'%')
        </if>
        ORDER BY td.update_time DESC
    </select>

    <select id="countByName" resultType="int">
        SELECT COUNT(1) FROM t_domain
        WHERE domain_name = #{domainName}
        <if test="null != id">
            AND id != #{id}
        </if>
    </select>

    <update id="closeDomain" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update t_domain
            <set>
                status = 0
            </set>
            where id = #{item,jdbcType=TINYINT}
        </foreach>
    </update>

    <update id="switchStatus">
        update t_domain td
        SET td.status = #{status},
            td.enable = #{enable},
            td.update_user = #{updateUser},
            td.update_time = #{enableTime}
            <if test="enable != null and enable ==1">
                ,td.enable_time = #{enableTime}
            </if>
        where id = #{id}
    </update>

    <update id="switchSelfTestTag">
        update t_domain td
        SET td.self_test_tag = #{tyDomain.selfTestTag},
            td.update_time = #{tyDomain.updateTime}
        where id = #{tyDomain.id}
    </update>

    <select id="getDomainGroupByMerchant" resultType="com.panda.multiterminalinteractivecenter.vo.api.DomainGroupApiVO">
        SELECT distinct tdg.id,
                        tdg.domain_group_name domainGroupName,
                        tdg.group_type        groupType,
                        tdg.exclusive_type    exclusiveType,
                        tdg.belong_area       belongArea,
                        mda.name              areaName,
                        tdg.status
        FROM t_domain_group tdg
                 LEFT JOIN m_domain_area mda ON tdg.belong_area = mda.id
                 LEFT JOIN t_domain_program_relation tdpr ON tdg.id = tdpr.domain_group_id
                 LEFT JOIN t_domain_program tdp ON tdpr.program_id = tdp.id
                 LEFT JOIN t_merchant_group_ty tmg ON tdp.id = tmg.program_id
        WHERE tdg.status = 1
        <if test="null != merchantgroupid">
            AND tmg.id = #{merchantgroupid}
        </if>
        union
        SELECT distinct tdg.id,
                        tdg.domain_group_name domainGroupName,
                        tdg.group_type        groupType,
                        tdg.exclusive_type    exclusiveType,
                        tdg.belong_area       belongArea,
                        mda.name              areaName,
                        tdg.status
        FROM t_domain_group tdg
                 LEFT JOIN m_domain_area mda ON tdg.belong_area = mda.id
                 LEFT JOIN t_domain_program_relation tdpr ON tdg.id = tdpr.domain_group_id
                 LEFT JOIN t_domain_program tdp ON tdpr.program_id = tdp.id
                 LEFT JOIN t_merchant_group_ty tmg ON tdp.id = tmg.program_id
        WHERE tdg.status = 1
          and tdg.belong_area = 0
    </select>

    <select id="getDomainByDomainGroupId" resultType="com.panda.multiterminalinteractivecenter.vo.api.DomainApiVO">
        SELECT distinct td.id,
                        td.domain_type       domainType,
                        td.domain_name       domainName,
                        td.merchant_group_id merchantGroupId,
                        tdg.id as              domainGroupId,
                        td.status,
                        td.enable
        FROM t_domain td
                 LEFT JOIN t_domain_group_relation tdgr ON td.id = tdgr.domain_id
                 LEFT JOIN t_domain_group tdg ON tdgr.domain_group_id = tdg.id
        WHERE td.group_type = #{groupType}
        <if test="null != domainGroupId">
            AND tdg.id = #{domainGroupId}
        </if>
          AND td.status = 1
          AND td.enable in (1, 2)
          AND tdg.status = 1
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_domain 1 = 1
        <if test="enable != null">
            and enable = #{enable}
        </if>
        <if test="domainType != null">
            and domain_type = #{domainType}
        </if>
        <if test="domainName != null">
            and domain_name like concat('%',#{domainName},'%')
        </if>
        <if test="starDate != null">
            AND enable_time BETWEEN #{starDate} and #{endDate}
        </if>
        <if test="null != merchantGroupId">
            and merchant_group_id = #{merchantGroupId}
        </if>
    </select>
    <select id="getDomainByDomainByParam" resultType="com.panda.multiterminalinteractivecenter.entity.TyDomain">
        SELECT DISTINCT(f.domain_id) id,f.domain_name domainName
        FROM `t_domain` a
                 LEFT JOIN t_domain_group_relation b ON a.id = b.domain_id
                 LEFT JOIN t_domain_group c ON c.id = b.domain_group_id
                 JOIN(SELECT a.id AS domain_id,
                             a.domain_name,
                             a.group_type,
                             a.domain_type,
                             a.enable,
                             a.status,
                             a.tab,
                             a.self_test_tag,
                             c.id AS group_id,
                             c.exclusive_type,
                             a.line_carrier_id,
                             c.belong_area
                      FROM `t_domain` a
                               LEFT JOIN t_domain_group_relation b ON
                          a.id = b.domain_id
                               LEFT JOIN t_domain_group c ON
                          c.id = b.domain_group_id
                      where a.status = 1
                        and c.status = 1
                        <if test="sqlDTO.isSameDomainGroup != null and sqlDTO.isSameDomainGroup == true  ">
                            AND c.id IN ( SELECT domain_group_id FROM t_domain_group_relation WHERE t_domain_group_relation.domain_id = #{domain.id} )
                        </if>
                      ) f ON f.group_type = a.group_type
        <where>
                a.id != #{domain.id}
            AND f.domain_id != #{domain.id}
            and a.enable = 2
            and f.enable = 2
            and a.status = 1
            and f.status = 1
            and a.self_test_tag = 1
            and f.self_test_tag = 1
            and a.domain_type = #{domain.domainType}
            and f.domain_type = #{domain.domainType}
            and a.group_type = #{domain.groupType}
            and f.group_type = #{domain.groupType}
            <if test="sqlDTO.tab != null and sqlDTO.tab != '' ">
                and a.tab = #{sqlDTO.tab}
                and b.tab = #{sqlDTO.tab}
                and c.tab = #{sqlDTO.tab}
                and f.tab = #{sqlDTO.tab}
            </if>
            <if test="sqlDTO.isSameDomainGroup != null and sqlDTO.isSameDomainGroup == true  ">
                AND c.id IN ( SELECT domain_group_id FROM t_domain_group_relation WHERE t_domain_group_relation.domain_id = #{domain.id} )
                <if test="sqlDTO.isVIP != null and sqlDTO.isVIP == true  ">
                    and f.exclusive_type = 2
                </if>
                <if test="sqlDTO.isVIP != null and sqlDTO.isVIP == false ">
                    and f.exclusive_type = 1
                </if>
            </if>
            <if test="sqlDTO.isSameDomainGroup != null and sqlDTO.isSameDomainGroup == false">
                and  f.group_id != c.id
            </if>
            <if test="sqlDTO.isSameLineCarrier != null  and  sqlDTO.isSameLineCarrier == true">
                AND a.`line_carrier_id` = #{domain.lineCarrierId}
                AND f.`line_carrier_id` = #{domain.lineCarrierId}
            </if>
            <if test="sqlDTO.isSameLineCarrier != null  and  sqlDTO.isSameLineCarrier == false">
                AND a.`line_carrier_id` != #{domain.lineCarrierId}
                AND f.`line_carrier_id` != #{domain.lineCarrierId}
            </if>
        </where>
    </select>

    <select id="list" resultType="com.panda.multiterminalinteractivecenter.dto.DomainRelationDto">
        SELECT *
        FROM `t_domain` a
                 LEFT JOIN t_domain_group_relation b ON
            a.id = b.domain_id
                 LEFT JOIN t_domain_group c ON
            c.id = b.domain_group_id
    </select>
    <select id="getList" resultType="com.panda.multiterminalinteractivecenter.entity.TyDomain">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            t_domain td
        WHERE 1=1
        <if test="enable != null">
            AND td.enable = #{enable}
        </if>
        <if test="status != null">
            AND td.status = #{status}
        </if>
        <if test="selfTestTag != null">
            AND td.self_test_tag = #{selfTestTag}
        </if>
        <if test="tab != null">
            AND td.tab = #{tab}
        </if>
        <if test="domainTypes != null and domainTypes.size() > 0">
            and td.domain_type in
            <foreach item='domainType' index='index' collection='domainTypes'
                     open='(' separator=',' close=')'>
                #{domainType}
            </foreach>
        </if>
    </select>
    <select id="getNewH5PcDomain" resultType="java.lang.String">
        select domain_name from t_domain_ty where domain_type in(1,2) and  enable in(1,2) and status = 1
    </select>
    <select id="getById" resultType="com.panda.multiterminalinteractivecenter.entity.TyDomain">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        t_domain td
        WHERE td.id = #{id}
    </select>
    <select id="getNewDomainByGroupId" resultType="com.panda.multiterminalinteractivecenter.entity.TyDomain">

        SELECT
        <include refid="Base_Column_List"/>
        FROM t_domain td
        LEFT JOIN (SELECT * FROM t_domain_group_relation WHERE tab= #{param.tab}) tdgr ON td.id = tdgr.domain_id
        LEFT JOIN t_domain_group tdg ON tdgr.domain_group_id = tdg.id
        WHERE tdg.id = #{param.domainGroupId}
        AND td.domain_type = #{param.domainType}
        AND td.status = 1
        AND td.enable = 2
        AND td.tab = #{param.tab}
        <if test="param.isSameLineCarrier != null  and  param.isSameLineCarrier == true">
            AND td.line_carrier_id = #{param.lineCarrierId}
        </if>
        <if test="param.isSameLineCarrier != null  and  param.isSameLineCarrier == false">
            AND td.line_carrier_id = #{param.lineCarrierId}
        </if>

    </select>
    <select id="getDomainListByLineId" resultType="com.panda.multiterminalinteractivecenter.entity.TyDomain">
        SELECT <include refid="Base_Column_List"/>
        FROM t_domain td
        WHERE td.line_carrier_id = #{id}
        AND td.tab = #{tab}
    </select>

    <select id="getDomainListByNames" resultType="com.panda.multiterminalinteractivecenter.entity.TyDomain">
        SELECT <include refid="Base_Column_List"/>
        FROM t_domain td
        WHERE td.domain_name in
        <foreach item='domain' index='index' collection='domainNameList' open='(' separator=','
                 close=')'>
            #{domain}
        </foreach>
        AND td.tab = #{tab}
    </select>
    <select id="getDomainListByIds" resultType="com.panda.multiterminalinteractivecenter.entity.TyDomain">
        SELECT <include refid="Base_Column_List"/>
        FROM t_domain td
        WHERE td.id in
        <foreach item='domain' index='index' collection='domainIdList' open='(' separator=','
                 close=')'>
            #{domain}
        </foreach>
        AND td.tab = #{tab}
    </select>


    <delete id="deleteByDomainId">
        DELETE
        FROM t_domain_group_relation
        WHERE domain_id = #{id}
    </delete>

    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.panda.multiterminalinteractivecenter.entity.TyDomain"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
        INSERT INTO t_domain
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="domainName != null">
                domain_name,
            </if>
            <if test="domainType != null">
                domain_type,
            </if>
            <if test="enable != null">
                enable,
            </if>
            <if test="enableTime != null">
                enable_time,
            </if>
            <if test="groupType != null">
                group_type,
            </if>
            <if test="lineCarrierId != null">
                line_carrier_id,
            </if>
            <if test="merchantGroupId != null">
                merchant_group_id,
            </if>
            <if test="selfTestTag != null">
                self_test_tag,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="tab != null">
                tab,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="createTime != null" >
                #{createTime},
            </if>
            <if test="createUser != null" >
                #{createUser},
            </if>
            <if test="domainName != null" >
                #{domainName},
            </if>
            <if test="domainType != null" >
                #{domainType},
            </if>
            <if test="enable != null" >
                #{enable},
            </if>
            <if test="enableTime != null" >
                #{enableTime},
            </if>
            <if test="groupType != null" >
                #{groupType},
            </if>
            <if test="lineCarrierId != null" >
                #{lineCarrierId},
            </if>
            <if test="merchantGroupId != null" >
                #{merchantGroupId},
            </if>
            <if test="selfTestTag != null" >
                #{selfTestTag},
            </if>
            <if test="status != null" >
                #{status},
            </if>
            <if test="tab != null" >
                #{tab},
            </if>
            <if test="updateTime != null" >
                #{updateTime},
            </if>
            <if test="updateUser != null" >
                #{updateUser},
            </if>
        </trim>
    </insert>

    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.panda.multiterminalinteractivecenter.entity.TyDomain">
        UPDATE t_domain
        <set>
            <if test="createTime != null" >
                create_time=#{createTime},
            </if>
            <if test="createUser != null" >
                create_user=#{createUser},
            </if>
            <if test="domainName != null" >
                domain_name=#{domainName},
            </if>
            <if test="domainType != null" >
                domain_type=#{domainType},
            </if>
            <if test="enable != null" >
                enable=#{enable},
            </if>
            <if test="enableTime != null" >
                enable_time=#{enableTime},
            </if>
            <if test="groupType != null" >
                group_type=#{groupType},
            </if>
            <if test="lineCarrierId != null" >
                line_carrier_id=#{lineCarrierId},
            </if>
            <if test="merchantGroupId != null" >
                merchant_group_id=#{merchantGroupId},
            </if>
            <if test="selfTestTag != null" >
                self_test_tag=#{selfTestTag},
            </if>
            <if test="status != null" >
                status=#{status},
            </if>
            <if test="tab != null" >
                tab=#{tab},
            </if>
            <if test="updateTime != null" >
                update_time=#{updateTime},
            </if>
            <if test="updateUser != null" >
                update_user=#{updateUser},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="offDomain">
        UPDATE t_domain
        SET enable = 2
        WHERE id in
        <foreach item='option' index='index' collection='ids' open='(' separator=','
                 close=')'>
            #{option}
        </foreach>
        AND tab = #{tab}
    </update>

    <delete id="delById">
        DELETE FROM t_domain
        WHERE id = #{id}
    </delete>

    <select id="selectMerchantGroupId" resultType="java.lang.Long">
        SELECT tg.id  FROM
                merchant.t_merchant_group tg
                LEFT JOIN merchant.t_domain_program tp ON tg.program_id = tp.id
                LEFT JOIN merchant.t_domain_program_relation tr ON tp.id = tr.program_id
                LEFT JOIN merchant.t_domain_group td ON tr.domain_group_id = td.id
                LEFT JOIN merchant.t_domain_group_relation dr ON td.id = dr.domain_group_id
                LEFT JOIN merchant.t_domain ta ON dr.domain_id = ta.id
        where ta.id in
        <foreach item='option' index='index' collection='ids' open='(' separator=','
                 close=')'>
            #{option}
        </foreach>
        AND ta.tab = #{tab}
    </select>
</mapper>